<div class="col-md-5 container">
    <div class="card">
        
        <div class="card-body">
            <h4 class="card-title text-center">Robot Details</h4>
            <p class="card-text">
                <form class="" action="" method="post">
                    <br>
                    <div class="col-auto">
                        <label class="visually-hidden" for="autoSizingInput"> Robot Name</label>
                        <input type="text" class="form-control" id="autoSizingInput" placeholder="as per your reference">
                    </div>
                    <br>
                    <div class="col-auto">
                        <label class="visually-hidden" for="autoSizingInput"> Robot Ip Address</label>
                        <input type="text" class="form-control" id="ipv4" name="ipv4" placeholder="xxx.xxx.xxx.xxx">
                    </div>
                    
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                
            </p>
        </div>
    </div>
</div>